/* div{
    background-color: blueviolet;
} */

body{
    font-size: 21px;
}
#products{
    background-color: burlywood;
}

#products .product, 
#todayfashion .product{
    /* background-color: rgb(255, 100, 255) */
    /* background-color: rgb(25%,25%,15%); */
    /* background: #ff0000; */
}

#deal{
    font-size: 1.5em;
}
/* #todayfashion .product{
    background-color: tomato;
} */