<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #table{
            display: flex;
            height: 450px;
            background-color: gold;
            padding: 10px;
            flex-direction: row;
            justify-content: space-between;
            /* justify-content: center; */
            /* align-items: center; */
        }
        .laptop{
            width: 100px;
            height: 100px;
            background-color: tomato;
        }
    </style>
</head>
<body>
    <div id="table">
        <div style="order: 3;" class="laptop"> laptop 1</div>
        <div  style="order: 4;" class="laptop"> laptop 2</div>
        <div class="laptop"> laptop 3</div>
        <div class="laptop"> laptop 4</div>
        <!-- <div class="laptop"> laptop</div>
        <div class="laptop"> laptop</div>
        <div class="laptop"> laptop</div>
        <div class="laptop"> laptop</div>
        <div class="laptop"> laptop</div> -->
    </div>
</body>
</html>