<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="./css/template.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="container" id="headernav">
            <div id="logo">
                <img src="./images/couchbase.svg" />
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>